@media screen and (min-width: 481px){ 
/*題名の設定 */
.item{
  height: 50px;
  text-align: center;
  margin-top: 250px;
}
.item h1{
  font-size: 50px;
  margin-top: 10px;
  color: #ff6928;
}
/*お問い合わせフォーム部分の設定 */
.otoiawase{
    height: 800px;
    background-color: #FFC7AF;
    width:90%;
    margin: 0 auto;
    border-radius: 40px;
    margin-top: 40px;
    padding-top: 40px;
  }
  @media screen and (max-width: 480px) {
    .Form {
      margin-top: 40px;
    }
  }
  .Form-Item {
    border-top: 1px solid #ddd;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 80%;
    margin:0 auto;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 480px) {
    .Form-Item {
      padding-left: 14px;
      padding-right: 14px;
      padding-top: 16px;
      padding-bottom: 16px;
      flex-wrap: wrap;
    }
  }
  .Form-Item:nth-child(5) {
    border-bottom: 1px solid #ddd;
  }
  .Form-Item-Label {
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 25px;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Label {
      max-width: inherit;
      display: flex;
      align-items: center;
      font-size: 20px;
    }
  }
  .Form-Item-Label.isMsg {
    margin-top: 8px;
    margin-bottom: auto;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Label.isMsg {
      margin-top: 0;
    }
  }
  .Form-Item-Label-Required {
    border-radius: 6px;
    margin-right: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60px;
    display: inline-block;
    text-align: center;
    background: #ff6928;
    color: #fff;
    font-size: 22px;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Label-Required {
      border-radius: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
      width: 32px;
      font-size: 10px;
    }
  }
  .Form-Item-Input {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 10px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 25px;
  }



  @media screen and (max-width: 480px) {
    .Form-Item-Input {
      margin-left: 0;
      margin-top: 18px;
      height: 40px;
      flex: inherit;
      font-size: 15px;
    }
  }
  .Form-Item-Textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 10px;
    padding-left: 1em;
    padding-right: 1em;
    height: 200px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    .Form-Item-Textarea {
      margin-top: 18px;
      margin-left: 0;
      height: 200px;
      flex: inherit;
      font-size: 15px;
    }
  }
  .Form-Btn {
    border-radius: 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 200px;
    display: block;
    letter-spacing: 0.05em;
    background: #ff6928;
    color: #fff;
    font-weight: bold;
    font-size: 27px;

  }
  .Form-Btn:hover{
    opacity:0.7;
  }
  .Form-Btn2 {
    border-radius: 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 80px;
    display: block;
    letter-spacing: 0.05em;
    background: #ff6928;
    color: #fff;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
  }
  .Form-Btn2:hover{
    opacity:0.7;
  }
  @media screen and (max-width: 480px) {
    .Form-Btn {
      margin-top: 24px;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 160px;
      font-size: 16px;
    }
  }
  .lastbottom{
    display: flex;
    
    
  }
  .lastbottom1{
    
    margin-left: 40px;
  }
  .lastbottom2{

    margin-left: 170px;
  }
}
  







/* スマホ用のものを書いていく */
@media screen and (max-width: 480px){
  .item{
    height: 50px;
    text-align: center;
    margin-top: 40px;
  }
  .item h1{
    font-size: 50px;
    margin-top: 10px;
    color: blue;
  }
  /*お問い合わせフォーム部分の設定 */
  .otoiawase{
      height: 800px;
      background-color: #FFC7AF;
      width:70%;
      margin: 0 auto;
      margin-top: 20px;
      border-radius: 40px;

    }
    @media screen and (max-width: 480px) {
      .Form {
        margin-top: 40px;
      }
    }
    .Form-Item {
      border-top: 1px solid #ddd;
      padding-top: 18px;
      padding-bottom: 18px;
      width: 70%;
      margin:0 auto;
      display: flex;
      align-items: center;
    }
    @media screen and (max-width: 480px) {
      .Form-Item {
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 16px;
        padding-bottom: 16px;
        flex-wrap: wrap;
      }
    }
    .Form-Item:nth-child(5) {
      border-bottom: 1px solid #ddd;
    }
    .Form-Item-Label {
      width: 100%;
      max-width: 300px;
      letter-spacing: 0.05em;
      font-weight: bold;
      font-size: 18px;
    }
    @media screen and (max-width: 480px) {
      .Form-Item-Label {
        max-width: inherit;
        display: flex;
        align-items: center;
        font-size: 15px;
      }
    }
    .Form-Item-Label.isMsg {
      margin-top: 8px;
      margin-bottom: auto;
    }
    @media screen and (max-width: 480px) {
      .Form-Item-Label.isMsg {
        margin-top: 0;
      }
    }
    .Form-Item-Label-Required {
      border-radius: 6px;
      margin-right: 8px;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 48px;
      display: inline-block;
      text-align: center;
      background: #ff6928;
      color: #fff;
      font-size: 14px;
    }
    @media screen and (max-width: 480px) {
      .Form-Item-Label-Required {
        border-radius: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        width: 32px;
        font-size: 10px;
      }
    }
    .Form-Item-Input {
      border: 1px solid #ddd;
      border-radius: 6px;
      margin-left: 10px;
      padding-left: 1em;
      padding-right: 1em;
      height: 48px;
      flex: 1;
      width: 100%;
      max-width: 410px;
      background: #eaedf2;
      font-size: 18px;
    }
    @media screen and (max-width: 480px) {
      .Form-Item-Input {
        margin-left: 0;
        margin-top: 18px;
        height: 40px;
        flex: inherit;
        font-size: 15px;
      }
    }
    .Form-Item-Textarea {
      border: 1px solid #ddd;
      border-radius: 6px;
      margin-left: 10px;
      padding-left: 1em;
      padding-right: 1em;
      height: 200px;
      flex: 1;
      width: 100%;
      max-width: 410px;
      background: #eaedf2;
      font-size: 18px;
    }
    @media screen and (max-width: 480px) {
      .Form-Item-Textarea {
        margin-top: 18px;
        margin-left: 0;
        height: 200px;
        flex: inherit;
        font-size: 15px;
      }
    }
    .Form-Btn {
      border-radius: 6px;
      margin-top: 32px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 200px;
      display: block;
      letter-spacing: 0.05em;
      background: #ff6928;
      color: #fff;
      font-weight: bold;
      font-size: 25px;
  
    }
    .Form-Btn:hover{
      opacity:0.7;
    }
    .Form-Btn2 {
      border-radius: 6px;
      margin-top: 32px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 13px;
      padding-bottom: 13px;
      width: 80px;
      display: block;
      letter-spacing: 0.05em;
      background: #ff6928;
      color: #fff;
      font-weight: bold;
      font-size: 25px;
      text-align: center;
    }
    .Form-Btn2:hover{
      opacity:0.7;
    }
    @media screen and (max-width: 480px) {
      .Form-Btn {
        margin-top: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 160px;
        font-size: 16px;
      }
    }
    .lastbottom{
      display: flex;
      
      
    }
    .lastbottom1{
      
      margin-left: 40px;
    }
    .lastbottom2{
  
      margin-left: 170px;
    }
  }
    



 

  
  